body {
 background-image:url("https://wallpapercave.com/wp/wp2691479.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  font-family: Courier New;
  font-size: 16px;
  color: white
  z-index:0;
}
.cicada{
	z-index:2;
	float:left;
	margin-top:75px;
}

.align{
		margin-left:440px;
		margin-top:300px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

input, button {
  font-family: Courier New;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  height: 40%;
  margin: 0px auto;
  padding: 20px;
  display: none;
    background-blend-mode: screen;
	color:#fff;
	z-index:1;
	border-left-color:#fff;
	border-left:2px solid;
	padding-left:125px;
	
    
 
}

.main-div input {
  display: block;
  border: 2px solid #fff;
  border-radius: 10px;
  background:rgba(0,0,0,0.5);
  
  
  padding: 15px;
  outline: none;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  color:#fff;
  font-size: 16px;
}
::placeholder {
    color: white;
    opacity: 1; 
	font-size:16px;
}


.main-div input:focus {
  border: 1px solid #fff;
}

.main-div button, .loggedin-div button {
  background: #265e96;
  color: #fff;
  border: 1px solid #5d8ff0;
  border-radius: 5px;
  padding: 15px;
  display: block;
    width: 50%;
    margin-left: 25%;
    transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  
 
}

.main-div button:hover, .loggedin-div button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #5d8ffc;
  cursor: pointer;
    width: 50%;
    margin-left: 25%
	
	
}

.cyberlifeimg{
	z-index:1;
	width:1000px;
	height:500px;
	
	
}

h1{
	font-size: 50px;
}
